###############################################################################
# Ignore these directories
###############################################################################

plugin/
site/


###############################################################################
# Ignore these files
###############################################################################

.*


###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.luarc.json
!after/plugin
